<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credencial de Estacionamento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/Formularios.css">
</head>

<body>


    <div class="boxTop">
        <div class="boxLogo">
            <img src="/image/LogoTransCon.png" alt="Transcon" class="logo">
        </div>
        <div class="titulo">
            <h1>Credencial de Estacionamento</h1>
        </div>
        <div style="height: 131px; width: 179px;"></div>
    </div>

    <div class="subtitulo">
        <h2>Solicitação de emissão - Credencial para Deficiente</h2>
    </div>

    <div class="conteudo">

        <p class="textoInicial">Credencial de Estacionamento Especial para Pessoas com Deficiência ou Mobilidade
            Reduzida
            Formulário a ser preenchido pelo candidato ou seu representante legal para concessão do benefício de
            Credencial de Estacionamento Especial para Pessoas com
            Deficiência ou Mobilidade Reduzida, conforme Portaria TransCon nº 016, de 19 de julho de 2021.
            Para dúvidas e demais informações, gentileza encaminhar para <a
                href="mailto: beneficios.transcon@contagem.mg.gov.br">beneficios.transcon@contagem.mg.gov.br</a>.
        </p>

        <P class="textoSecundario">
            Obs.: Campos com asterisco (<span>*</span>) são de preenchimento obrigatório.
        </P>

        <form action="http://127.0.0.1:5000/beneficiarios/deficiente/nova-credencial" method="post" enctype="multipart/form-data">
            <div>
                <label for="nome">Nome <span>*</span></label>
                <br>
                <input type="text" id="nome" name="nome" required>
            </div>

            <div style="display: inline-block; margin-right: 20px;">
                <label for="rg">RG <span>*</span></label>
                <br>
                <input type="text" id="rg" name="rg" required>
            </div>
            <div style="display: inline-block;">
                <label for="cpf">CPF <span>*</span></label>
                <br>
                <input type="text" id="cpf" name="cpf" maxlength="11" required>

            </div>

            <div style="display: inline-block; margin-right: 20px;">
                <label for="dtNascimento">Data de Nascimento <span>*</span></label>
                <br>
                <input type="date" id="dtNascimento" name="dataNascimento" required>
            </div>
            <div style="display: inline-block;">
                <label for="sexo">Sexo <span>*</span></label>
                <br>
                <select name="sexo" id="sexo">
                    <option value="masculino">Masculino</option>
                    <option value="feminino">Feminino</option>
                    <option value="prefiro nao informar">Prefiro não informar</option>
                </select>
            </div>
            <div>
                <label for="tpDeficiencia">Tipo de Deficiência <span>*</span></label>
                <br>
                <input type="text" id="tpDeficiencia" name="tpDeficiencia" required>
            </div>
            <div>
                <label for="cep">CEP <span>*</span></label>
                <br>
                <input type="text" id="cep" name="cep" required>
            </div>
            <div>
                <label for="rua">Rua/Avenida <span>*</span></label>
                <br>
                <input type="text" id="rua" name="rua" required>
            </div>

            <div style="display: inline-block; margin-right: 20px;">
                <label for="num">Número <span>*</span></label>
                <br>
                <input type="text" id="num" name="num" required>
            </div>
            <div style="display: inline-block;">
                <label for="complemento">Complemento</label>
                <br>
                <input type="text" id="complemento" name="complemento">
            </div>

            <div style="display: inline-block; margin-right: 20px;">
                <label for="bairro">Bairro <span>*</span></label>
                <br>
                <input type="text" id="bairro" name="bairro" required>
            </div>
            <div style="display: inline-block;">
                <label for="cidade">Cidade <span>*</span></label>
                <br>
                <input type="text" id="cidade" name="cidade" required>
            </div>

            <div style="display: inline-block; margin-right: 20px;">
                <label for="telefone">Telefone</label>
                <br>
                <input type="tel" id="telefone" name="telefone">
            </div>
            <div style="display: inline-block;">
                <label for="celular">Celular <span>*</span></label>
                <br>
                <input type="tel" id="celular" name="celular" required>
            </div>

            <div>
                <label for="email">Email <span>*</span></label>
                <br>
                <input type="email" id="email" name="email" required>
            </div>

            <div>
                <label for="">Representante Legal? <span>*</span></label>
                <br>
                <input type="radio" id="sim" name="Rep_Legal" value="sim" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample:not(.show)">
                <label for="sim" style="margin-right: 33px;">Sim</label>
                <input type="radio" id="nao" name="Rep_Legal" value="nao" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample.show">
                <label for="nao">Não</label>
            </div>

            <div class="collapse" id="collapseExample">
                <div style="display: inline-block; vertical-align: top; margin-right: 20px;">
                    <label for="nResponsavel">Nome do Representante legal <span>*</span></label>
                    <br>
                    <input type="text" id="nResponsavel" name="nResponsavel">
                </div>
                <div style="display: inline-block;">
                    <label for="dResponsavel">Documento rep. legal <span>*</span></label>
                    <br>
                    <input type="file" id="dResponsavel" accept=".doc, .docx, .pdf, .jpg, .jpeg, .png" name="dResponsavel">
                    <br>
                    <span class="legendaBtn">Extensões permitidas: doc, docx, pdf, jpg, png, jpeg</span>
                </div>
            </div>

            <div style="margin-bottom: 10px;">
                <label for="cpResidencia">Comprovante de residência do mês vigente ou anterior ou Declaração por escrito
                    atestando a
                    veracidade das informações,
                    acompanhada de correspondência em nome de terceiro. <span>*</span></label>
                <input type="file" id="cpResidencia" name="cpResidencia" accept=".doc, .docx, .pdf, .jpg, .jpeg, .png" required>
                <br>
                <span class="legendaBtn">Extensões permitidas: doc, docx, pdf, jpg, png, jpeg</span>
            </div>

            <div style="margin-bottom: 10px;">
                <label for="laudoPericial">Laudo pericial, emitido em até seis meses anteriores à data de solicitação da
                    Credencial, exceto se a deficiência for congênita,
                    em que o laudo apresentado poderá ser de qualquer data, com assinatura do médico ou fisioterapeuta
                    responsável pelo
                    diagnóstico e carimbo que conste nome e número de registro do profissional no respectivo Conselho
                    Regional <span>*</span></label>
                <br>
                <input type="file" id="laudoPericial" name="laudoPericial" accept=".doc, .docx, .pdf, .jpg, .jpeg, .png" required>
                <br>
                <span class="legendaBtn">Extensões permitidas: doc, docx, pdf, jpg, png, jpeg</span>
            </div>

            <div style="margin-bottom: 10px;">
                <label for="dcOfFoto">Documento oficial com foto <span>*</span></label>
                <br>
                <input type="file" accept=".doc, .docx, .pdf, .jpg, .jpeg, .png" id="dcOfFoto" name="dcOfFoto" required >
                <br>
                <span class="legendaBtn">Extensões permitidas: doc, docx, pdf, jpg, png, jpeg</span>
            </div>

            <div>
                <label for="dAcordo">Declaro serem verdadeiras as informações supracitadas, estando ciente das
                    penalidades no
                    Código Penal Brasileiro,
                    arts. 171 e 299. <span>*</span>
                </label>
                <br>
                <input type="checkbox" id="dAcordo" required>
                <label for="dAcordo" style="vertical-align: 15px;">De acordo.</label>
            </div>
            <div class="boxBtn">
                <button type="submit">Enviar</button>
            </div>
        </form>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>


</body>

</html>