<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    </div>
    <form id="formizinho"  >
        <div style="display: inline-block;">
            <label for="cpf">CPF <span>*</span></label>
            <br>
            <input type="file" id="cpf" name="cpf" maxlength="11">
            <input type="text" id="np" name="np" maxlength="11">
        </div>
        <button type="button" id="ok">OK</button>
    </form>
    </div>
    <script src="js/teste.js"></script>
</body>

</html>