.subtitulo {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;

  color: #000000;
}

.conteudo {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 31px;
}

.textoInicial {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;

  color: #000000;
}

.textoSecundario {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;

  color: #000000;
}

a {
  color: #000000;
}

span {
  color: rgb(248, 0, 0);
}

label {
  margin-bottom: 7px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;

  color: #000000;
}

input {
  margin-bottom: 15px;
  padding-left: 10px;
  height: 40px;
  border: none;
  outline: none;
  background: #eaeaea;
}

#nome {
  width: 900px;
}

#rg {
  width: 327px;
}

#cpf {
  width: 440px;
}

#dtNascimento {
  width: 327px;
}

#sexo {
  margin-bottom: 15px;
  height: 40px;
  background: #eaeaea;
  width: 440px;
  outline: none;
}

#cep {
  width: 329px;
}

#rua {
  width: 900px;
}

#num {
  width: 161px;
}

#complemento {
  width: 714px;
}

#bairro {
  width: 438px;
}

#cidade {
  width: 437px;
}

#telefone {
  width: 438px;
}

#celular {
  width: 437px;
}

#email {
  width: 900px;
}

input[type="radio"] {
  width: 24px;
  height: 24px;
  margin-top: 10px;
  margin-right: 11px;
}

#nResponsavel {
  width: 600px;
}

input[type="file"] {
  display: none;
}

.btnFile {
  width: 134px;
  height: 25px;
  text-align: center;
  padding-top: 2px;
  font-weight: 300;
  margin: 0;

  background: #eaeaea;
  border: 1px solid #000000;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.legendaBtn {
  width: 239px;
  height: 11px;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 11px;

  color: #000000;
}

button {
  width: 163px;
  height: 41px;

  border: none;
  text-align: center;

  color: #ffffff;
  background: #0a8f3e;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.boxBtn {
  width: 163px;
  height: 41px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item.active {
  font-weight: bold;
}

.stepper-item.completed .step-counter {
  background-color: green;
}

.stepper-item.completed-doc .step-counter {
  background-color: green;
}

.stepper-item.failed-doc .step-counter {
    background-color: green;
}

.stepper-item.failed-doc::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #4bb543;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item.completed-doc::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #4bb543;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #4bb543;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}
