<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credencial de Estacionamento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/TelaUsuario.css">

</head>

<body>
    <div class="boxTop">
        <div class="boxLogo">
            <img src="/image/LogoTransCon.png" alt="Transcon" class="logo">
        </div>
        <div class="titulo">
            <h1>Escolha alguma das opções:</h1>
        </div>
        <div style="height: 131px; width: 179px;"></div>
    </div>
    <div style="margin: 0 auto; width: 900px;">
        <div class="">
            <div style="display: inline-block;">
                <button style="width: 250px; height: 110px;" id="botao1" type="button"
                    class="btn btn-success btn-lg">CREDENCIAL
                    IDOSO</button>
            </div>
            <div style="display: inline-block; margin-left: 30px; ">
                <p>Solicitar nova credencial para idoso</p>
            </div>
        </div>

        <div class="">
            <div style="display: inline-block;">
                <button style="width: 250px; height: 110px;" id="botao1" type="button"
                    class="btn btn-success btn-lg">CREDENCIAL
                    DEFICIENTE</button>
            </div>
            <div style="display: inline-block; margin-left: 30px; ">
                <p>Solicitar nova credencial para deficiente</p>
            </div>
        </div>
        <div class="">
            <div style="display: inline-block;">
                <button style="width: 250px; height: 110px;" id="botao1" type="button"
                    class="btn btn-success btn-lg">ACOMPANHAR
                    PROTOCOLO</button>
            </div>
            <div style="display: inline-block; margin-left: 30px; ">
                <p>Acompanhar solicitação realizada</p>
            </div>
        </div>
        <div class="">
            <div style="display: inline-block;">
                <button style="width: 250px; height: 110px;" id="botao1" type="button"
                    class="btn btn-success btn-lg">SOLICITAR
                    2ª VIA</button>
            </div>
            <div style="display: inline-block; margin-left: 30px; ">
                <p>Solicitar segunda via de credencial idoso/deficiente</p>
            </div>
        </div>
    </div>
   


</body>

</html>