body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

.logo {
    width: 179px;
    height: 131px;
}

.boxTop{
    display: flex;
    justify-content: space-around;
}

.boxLogo{
    margin-top: 71px;
}

.titulo {
    margin-top: 113px;
    width: 577px;
    height: 46px;
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;

    text-align: center;

    color: #000000;
}

h2{
    text-align: center;
}

